<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Override Rules" Description="Override Rules for the solution." ToolsVersion="1.1.118">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">

    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1633" Action="None" />
   
    <!-- <Rule Id="SA1507" Action="None" /> -->
  </Rules>
</RuleSet>